<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <h1>Welcome to Feline Mewsings!</h1>
        <h3>This is a place where the cats only get more adorable! Check out our cat gallery or our cat video search engine. Make your day better.</h3>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <img class="img-fluid" src="CAT1.JPG" href="google.com" alt="responsive image">
    </div>
    <div class="col-sm-2"></div>
  </div>

</body>
